$headerColor: red;
header {
 color: $headerColor;   
}

#board {
    margin: 10px;
    padding: 10px;
    border: 1px solid gray;
    .status-board {
        float: left;
        width: calc(100%/3);
    }
    &::after {
        content: '';
        clear: both;
        display: table;
    }
}